.action {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
button {
  margin: 20px;
  padding: 10px;
}

/* CSS */
button {
  background-color: #e7246f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;

  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  /* transition: color 100ms; */
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition-duration: 1s;
}

button:hover {
  background-color: #ea4d89;
  color: black;
  scale: 1.2;
}
